nav {
  height: 120px;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
}

nav > .nav-component {
  color: #FFFFFF;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > span.title {
  font-size: 140%;
  font-family: "Bungee", sans-serif;
}

nav img {
  width: 25px;
  margin: 0.5em;
}

nav .arrow {
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

nav .arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav-component > span {
  margin-bottom: 0.18em;
}